@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 36rem;
    --breakpoint-lg: 62rem;
    --breakpoint-xl: 75rem;
    --breakpoint-2xl: 87.5rem;
}

@layer base {}

@layer components {}

@layer utilities {
    .container {

        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (width >=576px) {
            max-width: 540px;
        }

        @media (width >=768px) {
            max-width: 720px;
        }

        @media (width >=992px) {
            max-width: 960px;
        }

        @media (width >=1200px) {
            max-width: 1140px;
        }

        @media (width >=1400px) {
            max-width: 1320px;
        }
    }
}